* {
  /* The * is the default selector for the HTML page*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* This sets the background color of the webpage */
  background-color: #d9dcd6;
}

.horiseon-header {
  /* adds padding, sets a font and color for text with a background color that overwrites the body selector */
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

.horiseon-header h1 {
  /* in-line block element sets a horizontal box element, like text(no line breaks), with font size */
  display: inline-block;
  font-size: 48px;
}

.horiseon-header h1 .seo {
  color: #d9dcd6;
}

.horiseon-header nav {
  /* sets the header relative to the margin on the right side, picks font size, color, and family(style)*/
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.horiseon-header nav ul,
li {
  /* define the ul and layout with the margin space on left*/
  list-style-type: none;
  display: inline-block;
  margin-left: 25px;
}

a {
  /* sets the color and style for the element */
  color: #ffffff;
  text-decoration: none;
}

.marketing-meeting {
  /* links the background image to render on the page,sets the size, position and scales it to the size to fit container without stretching or distorting the image */
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.horiseon-products {
  /* sets width of content to 75% but the margin/padding..has priority*/
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
  /*sets the parameters as noted in previous comments*/
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
  font-size: 16px;
}

.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
  /* sets size limits, margin for data position and font size parmeters for the images/text elements */
  max-height: 200px;
  margin-bottom: 20px;
  font-size: 36px;
}

.float-left {
  /* float left applies to search-engine-optimization img and .social-media-marketing img setting each to the left side the container with a right margin of 25px*/
  float: left;
  margin-right: 25px;
}

.float-right {
  /* float right applies to .online-reputation-management img setting it to the right side of the container with the left margin of 25px */
  float: right;
  margin-left: 25px;
}

.horiseon-benefits {
  /* sets the parameters regarding relative position, to the right side, with height and spacing*/
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.benefit-lead,
.benefit-brand,
.benefit-cost {
  /* sets the margin and color for the data */
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
  /* sets the position relative to the marign and aligns the text to center*/
  margin-bottom: 10px;
  text-align: center;
}

.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
  /* the items/boxes/containers-block, due to block rule will, will stack vertically */
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.horiseon-footer {
  /* sets padding, align text to center and does not allow floating elements(left and right) to shift up relative to the footer */
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.horiseon-footer h2 {
  /* sets footer size */
  font-size: 20px;
}
